@{
	if (Context.Session.GetString("User") == null)
	{
		Context.Response.Redirect("/Home/Index");
	}
	var caseId = ViewData["CaseId"];
	var caseJson = ViewData["CaseJson"] as string;
	ViewData["Title"] = "Szczegóły sprawy " + caseId;
	var userJson = Context.Session.GetString("User");
	var userRole = "";
	using (var doc = System.Text.Json.JsonDocument.Parse(userJson))
	{
		userRole = doc.RootElement.GetProperty("UserRole").GetString();
	}
	if (userRole == "Administrator użytkowników" || userRole == "Nadzorca techniczny")
	{
		Context.Response.Redirect("/Home/NotAuthorized");
	}
}
@model UserModel

<div class="casesData" data-case="@caseJson" id="caseDetails"></div>
<div class="userData" data-user="@userJson"></div>
<div class="upperpanel">
	<div class="sitename">
		<h2>Szczegóły sprawy #@caseId</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>
<div class="text-center" id="caseDetailsDiv">
	
</div>
<div class="returnButton">
	<a asp-area="" asp-controller="User" asp-action="UserMenu">
		<div class="returnMenu">
			<h4>Powrót do menu</h4>
		</div>
	</a>
</div>