@{
	var caseId = ViewData["CaseId"];
	var caseJson = ViewData["CaseJson"] as string;
	ViewData["Title"] = "Szczegóły sprawy " + caseId;
	var userJson = Context.Session.GetString("User");
}
@model UserModel

<div class="casesData" data-case="@caseJson" id="caseDetails"></div>
<div class="userData" data-user="@userJson"></div>
<div class="upperpanel">
	<div class="sitename">
		<h2>Szczegóły sprawy #@caseId</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>
<div class="text-center" id="caseDetailsDiv">
	
</div>