@{
	if (Context.Session.GetString("User") == null)
	{
		Context.Response.Redirect("/Home/Index");
	}
	ViewData["Title"] = "Wyświetl twoje sprawy administracyjne";
	var casesJson = ViewData["CasesJson"] as string;
	var userJson = Context.Session.GetString("User");
	var userRole = "";
	using (var doc = System.Text.Json.JsonDocument.Parse(userJson))
	{
		userRole = doc.RootElement.GetProperty("UserRole").GetString();
	}
	if (userRole != "Lokator")
	{
		Context.Response.Redirect("/Home/NotAuthorized");
	}
}
@model UserModel

<div class="casesData" data-cases="@casesJson" id="showAdminCases"></div>
<div class="upperpanel">
	<div class="sitename">
		<h2>Wyświetl twoje sprawy administracyjne</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>

<div class="text-center dataTableDiv" id="showAdminCasesDiv">
	<table id="showAdminCasesTable" class="adminCasesTable dataTable">
		<thead>
			<tr>
				<th>Numer sprawy</th>
				<th>Temat sprawy</th>
				<th>Data utworzenia sprawy</th>
				<th>Status sprawy</th>
			</tr>
		</thead>
	</table>
</div>
<div class="returnButton">
	<a asp-area="" asp-controller="User" asp-action="UserMenu">
		<div class="returnMenu">
			<h4>Powrót do menu</h4>
		</div>
	</a>
</div>