@{
	ViewData["Title"] = "Wyświetl archiwum spraw administracyjnych";
}
@model UserModel
<div class="upperpanel">
	<div class="sitename">
		<h2>Wyświetl archiwum spraw administracyjnych</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>