@{
	if (Context.Session.GetString("User") == null)
	{
		Context.Response.Redirect("/Home/Index");
	}
	ViewData["Title"] = "Lista lokali";
	var premisesJson = ViewData["PremisesJson"] as string;
	var userJson = Context.Session.GetString("User");
	var userRole = "";
	using (var doc = System.Text.Json.JsonDocument.Parse(userJson))
	{
		userRole = doc.RootElement.GetProperty("UserRole").GetString();
	}
	if (userRole != "Administrator Systemu" && userRole != "Zarządca osiedla")
	{
		Context.Response.Redirect("/Home/NotAuthorized");
	}
	var usersJson = ViewData["UsersJson"];
}
@model UserModel

<div class="premisesData" data-premises="@premisesJson" id="listPremises"></div>
<div class="upperpanel">
	<div class="sitename">
		<h2>Lista lokali</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>

<div class="text-center dataTableDiv" id="listPremisesDiv">
	<table id="listPremisesTable" class="premisesTable dataTable">
		<thead>
			<tr>
				<th>ID lokalu</th>
				<th>Ulica</th>
				<th>Klatka schodowa</th>
				<th>Numer mieszkania</th>
			</tr>
		</thead>
	</table>
</div>
<div class="returnButton">
	<a asp-area="" asp-controller="User" asp-action="UserMenu">
		<div class="returnMenu">
			<h4>Powrót do menu</h4>
		</div>
	</a>
</div>