@{
	if (Context.Session.GetString("User") == null)
	{
		Context.Response.Redirect("/Home/Index");
	}
	var premiseId = ViewData["PremiseId"];

	ViewData["Title"] = "Lokal #" + premiseId;

	var premiseJson = ViewData["PremiseJson"] as string;
	var userJson = Context.Session.GetString("User");
	var userRole = "";
	using (var doc = System.Text.Json.JsonDocument.Parse(userJson))
	{
		userRole = doc.RootElement.GetProperty("UserRole").GetString();
	}
	if (userRole != "Administrator Systemu" && userRole != "Zarządca osiedla")
	{
		Context.Response.Redirect("/Home/NotAuthorized");
	}
}
@model UserModel

<div class="premisesData" data-premise="@premiseJson" id="premiseDetails"></div>
<div class="upperpanel">
	<div class="sitename">
		<h2>Szczegóły lokalu #@premiseId</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>
<div class="text-center" id="premiseDetailsDiv">
</div>
<div class="returnButton">
	<a asp-area="" asp-controller="User" asp-action="UserMenu">
		<div class="returnMenu">
			<h4>Powrót do menu</h4>
		</div>
	</a>
</div>