@{
	ViewData["Title"] = "Strona nie znaleziona";
}
<div class="upperpanel-error">
	<div class="sitename">
		<h2>System Osiedlowy</h2>
	</div>
</div>
<div class="text-center errorMessage">
	<h1>Błąd 404 - Strona nie znaleziona</h1>
	<p>Przepraszamy, nie znaleźliśmy strony, której szukasz.</p>
</div>
<div class="returnButton">
	<a asp-area="" asp-controller="User" asp-action="UserMenu">
		<div class="returnMenu">
			<h4>Powrót do menu</h4>
		</div>
	</a>
</div>