@{
	ViewData["Title"] = "Home Page";
}
@model LoginModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.BeginForm("Login","Home",FormMethod.Post)
        <fieldset>
            <label name="username" id="username">Nazwa użytkownika:</label>
            <input type="text" name="username" id="username" maxlength="15"/><br />
            <label name="userpassword" id="userpassword">Hasło:</label> 
            <input type="password" id="userpassword" name="userpassword" /><br />
            <input type="submit" value="Zaloguj" name="logIn" id="logIn" />
        </fieldset>
	@{
		if (Model.LoginResponse == 0)
		{
            <h4 class="text-danger">Login lub hasło niepoprawne!</h4>
        }
        else if (Model.LoginResponse == 2)
        {
            <h4 class="text-danger">Konto jest zablokowane!</h4>
        }
    }
</div>
