@{
	ViewData["Title"] = "Logowanie";
}
@model LoginModel

<div class="text-center">
    <h1 class="display-4">Zaloguj się</h1>
    @Html.BeginForm("Login","Home",FormMethod.Post)
    <fieldset class="loginForm">
        <label name="username" id="username">Nazwa użytkownika:</label>
        <input type="text" name="username" id="username" maxlength="15" required />
        <label name="userpassword" id="userpassword">Hasło:</label> 
        <input type="password" id="userpassword" name="userpassword" required />
    </fieldset>
    <input type="submit" value="Zaloguj" name="logIn" id="logIn" />
	@{
		if (Model.LoginResponse == 0)
		{
            <h4 class="text-danger">Login lub hasło niepoprawne!</h4>
        }
        else if (Model.LoginResponse == 2)
        {
            <h4 class="text-danger">Konto jest zablokowane!</h4>
        }
    }
</div>
