@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @Html.BeginForm("Login","Home",FormMethod.Post)
        <fieldset>
            <label name="username" id="username">Nazwa użytkownika:</label>
            <input type="text" name="username" id="username" maxlength="15"/><br />
            <label name="userpassword" id="userpassword">Hasło:</label> 
            <input type="password" id="userpassword" name="userpassword" /><br />
            <input type="submit" value="Zaloguj" name="logIn" id="logIn" />
        </fieldset>
</div>
