@{
    if (Context.Session.GetString("User") == null)
    {
        Context.Response.Redirect("/Home/Index");
    }
    ViewData["Title"] = "Zmiana hasła użytkownika";
}
@model ChangePasswordModel

<div class="upperpanel">
	<div class="sitename">
        <h2>Zmiana hasła użytkownika</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>

<div class="text-center">
    @Html.BeginForm("ChangePassword", "User", FormMethod.Post)
    <fieldset class="loginForm">
        <label name="newPassword" id="newPassword" for="newPassword ">Nowe hasło:</label>
        <input type="password" name="newPassword" id="newPassword" required />
        <label name="confirmNewPassword" id="confirmNewPassword" for="confirmNewPassword">Potwierdź hasło:</label>
        <input type="password" id="confirmNewPassword" name="confirmNewPassword" required />
    </fieldset>
    <input type="submit" value="Zmień hasło" name="changePassword" id="changePassword" />
    @{
        if (Model.ChangeResponse == 0)
        {
            <h4 class="text-danger">Nowe hasło nie może być takie same jak poprzednie!</h4>
        }
        else if (Model.ChangeResponse == 1)
        {
            <h4 class="text-success">Hasło zostało zmienione!</h4>
        }
        else if (Model.ChangeResponse == 2)
        {
            <h4 class="text-danger">Proszę uzupełnić wszystkie pola!</h4>
        }
        else if (Model.ChangeResponse == 3)
        {
            <h4 class="text-danger">Podane hasła są różne!</h4>
        }
    }
</div>
<div class="returnButton">
    <a asp-area="" asp-controller="User" asp-action="UserMenu">
        <div class="returnMenu">
            <h4>Powrót do menu</h4>
        </div>
    </a>
</div>