@{
    ViewData["Title"] = "Zmiana hasła użytkownika";
}
@model ChangePasswordModel
<div class="upperpanel">
    <div class="sitename">
        @Html.BeginForm("Login", "Home", FormMethod.Post)
        <fieldset>
            <label name="newPassword" id="newPassword">Nowe hasło:</label>
            <input type="password" name="newPassword" id="newPassword" />
            <br />
            <label name="confirmNewPassword" id="confirmNewPassword">Potwierdź hasło:</label>
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" />
            <br />
            <input type="submit" value="Zmień hasło" name="changePassword" id="changePassword" />
        </fieldset>
        @{
            if (Model.ChangeResponse == 0)
            {
                <h4 class="text-danger">Nowe hasło nie może być takie same jak poprzednie!</h4>
            }
            else if (Model.ChangeResponse == 1)
            {
                <h4 class="text-success">Hasło zostało zmienione!</h4>
            }
        }
    </<div>
</div>