@{
    ViewData["Title"] = "Zmiana hasła użytkownika";
}
@model ChangePasswordModel
<div class="text-center">
    <div class="sitename">
        @Html.BeginForm("ChangePassword", "User", FormMethod.Post)
        <fieldset>
            <label name="newPassword" id="newPassword">Nowe hasło:</label>
            <input type="password" name="newPassword" id="newPassword" required />
            <br />
            <label name="confirmNewPassword" id="confirmNewPassword">Potwierdź hasło:</label>
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" required />
            <br />
            <input type="submit" value="Zmień hasło" name="changePassword" id="changePassword" />
        </fieldset>
    </div>
    @{
        if (Model.ChangeResponse == 0)
        {
            <h4 class="text-danger">Nowe hasło nie może być takie same jak poprzednie!</h4>
        }
        else if (Model.ChangeResponse == 1)
        {
            <h4 class="text-success">Hasło zostało zmienione!</h4>
        }
        else if (Model.ChangeResponse == 2)
        {
            <h4 class="text-danger">Proszę uzupełnić wszystkie pola!</h4>
        }
        else if (Model.ChangeResponse == 3)
        {
            <h4 class="text-danger">Podane hasła są różne!</h4>
        }
    }
</div>