@{
	ViewData["Title"] = "Panel użytkownika";
	if (Context.Session.GetString("User") == null)
	{
		Context.Response.Redirect("/Home/Index");
	}
	var userJson = Context.Session.GetString("User");
}
@model UserModel
<div>
	<h1>Witaj @Model.Name!</h1>
	<div class="grid-menu">
		<h4>
			<ul>
				<li>
					<a href="#">Utwórz zgłoszenie technincze</a>
				</li>
				<li>
					<a href ="#">Wyświetl twoje zgłoszenia techniczne</a>
				</li>
				<li>
					<a href="#">Utwórz sprawę administracyjną</a>
				</li>
				<li>
					<a href="#">Wyświetl twoje sprawy administracyjne</a>
				</li>
				<li>
					<a href="#">Wygeneruj kod do bramy</a>
				</li>
			</ul>
		</h4>
	</div>
</div>