@{
	ViewData["Title"] = "Wyświetl twoje sprawy administracyjne";
}
@model UserModel
<div class="upperpanel">
	<div class="sitename">
		<h1>Wyświetl twoje sprawy administracyjne</h1>
	</div>
	<div class="user">
		<h1>User: @Model.Name</h1>
	</div>
	<div class="function">
		<a href="" target="_blank">
			<button class="profilebutton" type="button">Profil</button>
		</a>
		<a href="@Url.Action("Logout","User")">
			<button class="logoutbutton" type="button">Wyloguj</button>
		</a>
	</div>
</div>