@{
	ViewData["Title"] = "Utwórz nowe konto technika";
}
@model UserModel
<div class="upperpanel">
	<div class="sitename">
		<h2>Utwórz nowe konto technika</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>
<a asp-area="" asp-controller="User" asp-action="UserMenu" class="returnButton">
	<div class="returnMenu">
		<h4>Powrót do menu</h4>
	</div>
</a>