@{
	ViewData["Title"] = "Utwórz nowego użytkownika";
	if (Context.Session.GetString("User") == null)
	{
		Context.Response.Redirect("/Home/Index");
	}

	var premisesJson = ViewData["PremisesJson"] as string;
	var userJson = Context.Session.GetString("User");
	var userRole = "";
	using (var doc = System.Text.Json.JsonDocument.Parse(userJson))
	{
		userRole = doc.RootElement.GetProperty("UserRole").GetString();
	}
	if (userRole != "Administrator Systemu" && userRole != "Administrator użytkowników")
	{
		Context.Response.Redirect("/Home/NotAuthorized");
	}
	
}
@model UserModel

<div class="userData" data-user="@userJson"></div>
<div class="premisesData" data-premises="@premisesJson"></div>
<div class="upperpanel">
	<div class="sitename">
		<h2>Utwórz nowego użytkownika</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>
<div class="text-center">
	@Html.BeginForm("AddUser", "UsersManagement", FormMethod.Post, new { id = "addUserForm" })
	<fieldset class="createForm">
		<label name="userFirstName" for="userFirstName">Imię użytkownika:</label>
		<input type="text" name="userFirstName" id="userFirstName" maxlength="30" required />
		<label name="userLastName" for="userLastName">Nazwisko użytkownika:</label>
		<input type="text" name="userLastName" id="userLastName" maxlength="50" required />
		<label name="userMailAddress" for="userMail">Adres E-Mail:</label>
		<input type="text" name="userMail" id="userMail" maxlength="254" required />
		<label name="userRole" id="userRole" for="userRole">Rola użytkownika:</label>
		<select id="userRole" name="userRole" required>
			<option value="" disabled selected>Wybierz rolę użytkownika</option>
			<option value="1">Administrator Systemu</option>
			<option value="2">Lokator</option>
			<option value="3">Zarządca osiedla</option>
			<option value="4">Nadzorca techniczny</option>
			<option value="5">Administrator użytkowników</option>
		</select>
		<label name="userPremise" for="userPremise">Mieszkanie:</label>
		<select name="userPremise" id="userPremise" disabled>
			<option value="" disabled selected>Wybierz mieszkanie</option>
		</select>
	</fieldset>
	<input type="submit" value="Utwórz konto użytkownika" name="addUser" id="addUser" />
</div>
<div class="returnButton">
	<a asp-area="" asp-controller="User" asp-action="UserMenu">
		<div class="returnMenu">
			<h4>Powrót do menu</h4>
		</div>
	</a>
</div>