@{
	if (Context.Session.GetString("User") == null)
	{
		Context.Response.Redirect("/Home/Index");
	}
	ViewData["Title"] = "Zarządzaj użytkownikami";
	var userJson = Context.Session.GetString("User");
	var userRole = "";
	using (var doc = System.Text.Json.JsonDocument.Parse(userJson))
	{
		userRole = doc.RootElement.GetProperty("UserRole").GetString();
	}
	if (userRole != "Administrator Systemu" && userRole != "Administrator użytkowników")
	{
		Context.Response.Redirect("/Home/NotAuthorized");
	}
}
@model UserModel
<div class="upperpanel">
	<div class="sitename">
		<h2>Zarządzaj użytkownikami</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>
<div class="returnButton">
	<a asp-area="" asp-controller="User" asp-action="UserMenu">
		<div class="returnMenu">
			<h4>Powrót do menu</h4>
		</div>
	</a>
</div>