@{
	ViewData["Title"] = "Zarządzaj użytkownikami";
}
@model UserModel
<div class="upperpanel">
	<div class="sitename">
		<h2>Zarządzaj użytkownikami</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>
<div class="returnButton">
	<a asp-area="" asp-controller="User" asp-action="UserMenu">
		<div class="returnMenu">
			<h4>Powrót do menu</h4>
		</div>
	</a>
</div>