@{
	if (Context.Session.GetString("User") == null)
	{
		Context.Response.Redirect("/Home/Index");
	}
	var techId = ViewData["TechId"];

	ViewData["Title"] = "Technik #" + techId;

	var techJson = ViewData["TechJson"] as string;
	var userJson = Context.Session.GetString("User");
	var userRole = "";
	using (var doc = System.Text.Json.JsonDocument.Parse(userJson))
	{
		userRole = doc.RootElement.GetProperty("UserRole").GetString();
	}
	if (userRole != "Administrator Systemu" && userRole != "Administrator użytkowników" && userRole != "Nadzorca techniczny")
	{
		Context.Response.Redirect("/Home/NotAuthorized");
	}
}
@model UserModel

<div class="techsData" data-tech="@techJson" id="technicianDetails"></div>
<div class="upperpanel">
	<div class="sitename">
		<h2>Szczegóły technika #@techId</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>
<div class="text-center" id="technicianDetailsDiv">
</div>
<div class="returnButton">
	<a asp-area="" asp-controller="User" asp-action="UserMenu">
		<div class="returnMenu">
			<h4>Powrót do menu</h4>
		</div>
	</a>
</div>