@{
	ViewData["Title"] = "Utwórz zgłoszenie techniczne";
	var userJson = Context.Session.GetString("User");
	var userRole = "";
	using (var doc = System.Text.Json.JsonDocument.Parse(userJson))
	{
		userRole = doc.RootElement.GetProperty("UserRole").GetString();
	}
	if (userRole != "Lokator")
	{
		Context.Response.Redirect("/Home/NotAuthorized");
	}
}
@model UserModel
<div class="upperpanel">
	<div class="sitename">
		<h2>Utwórz zgłoszenie techniczne</h2>
	</div>
	<a href="@Url.Action("Logout","User")">
		<div class="function">
			Wyloguj
		</div>
	</a>
</div>
<div class="text-center">
	@Html.BeginForm("AddTask", "TechnicalTasks", FormMethod.Post)
	<fieldset class="createForm">
		<label name="taskSubject" id="taskSubject" for="taskSubject">Temat zgłoszenia:</label>
		<input type="text" name="taskSubject" id="taskSubject" maxlength="30" required />
		<label name="taskCategory" id="taskCategory" for="taskCategory">Kategoria zgłoszenia:</label>
		<select id="taskCategory" name="taskCategory" required>
			<option value="" disabled selected>Wybierz kategorię</option>
			<option value="1">Hydrauliczne</option>
			<option value="2">Elektryczne</option>
			<option value="3">Gazowe</option>
			<option value="4">Remontowo-budowlane</option>
			<option value="5">Serwisowe i instalacyjne AGD</option>
			<option value="6">Serwisowe i instalacyjne IT</option>
		</select>
		<label name="taskDetails" id="taskDetails" for="taskDetails">Opis zgłoszenia:</label>
		<textarea name="taskDetails" id="taskDetails" required></textarea>
	</fieldset>
	<input type="submit" value="Utwórz zgłoszenie" name="addTask" id="addTask" />
</div>
<div class="returnButton">
	<a asp-area="" asp-controller="User" asp-action="UserMenu">
		<div class="returnMenu">
			<h4>Powrót do menu</h4>
		</div>
	</a>
</div>